body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb(174, 238, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin-bottom: 80px;
}


.resetButton {
    position: fixed;
    bottom: 30px;
    margin: auto;
    border: none;
    background-color: yellowgreen;
    padding: 10px 30px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 6px 1px 0px rgba(0, 98, 0, 0.75);
    -moz-box-shadow: 0px 6px 1px 0px rgba(0, 98, 0, 0.75);
    box-shadow: 0px 6px 1px 0px rgba(0, 98, 0, 0.75);
}

.resetButton:focus {
    animation-name: anima;
    animation-duration: 0.9s;
    margin-top: 56px;
    border: none;
    outline: -webkit-focus-ring-color auto 0px;

}

@keyframes anima {


    25% {
        margin-top: 60px;
        box-shadow: 0px 0px 0px 0px rgba(0, 98, 0, 0.75);
    }


    100% {
        margin-top: 50px;
        box-shadow: 0px 6px 1px 0px rgba(0, 98, 0, 0.75);
    }
}